/* ----------AUTHORS START--------- */
.authors-section h3 {
  text-align: center;
  margin: 0 auto 30px auto;
}

.authors-detail {
  text-align: center;
  display: grid;
  grid-template: auto / repeat(4, 1fr);
  grid-gap: 2em;
}

.each-authors {
  background: #f4f4f4;
  padding: 2em;
  border-radius: 10px;
  transition: all .5s ease;
}

.each-authors:hover {
  background: #fbf6ea;
}

.profile {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: top;
  border-radius: 50%;
}

.first-writer {
  background-image: url("../images/profile/edward-cisneros-_H6wpor9mjs-unsplash.jpg");
}

.second-writer {
  background-image: url("../images/profile/linkedin-sales-solutions-pAtA8xe_iVM-unsplash.jpg");
}

.third-writer {
  background-image: url("../images/profile/michael-dam-mEZ3PoFGs_k-unsplash.jpg");
}

.forth-writer {
  background-image: url("../images/profile/prince-akachi-LWkFHEGpleE-unsplash.jpg");
}

.social-media {
  display: flex;
  justify-content: center;
}

.media-icon {
  width: 50px;
}

@media (max-width: 1100px) {
  .authors-detail {
    grid-gap: 1.5em;
  }
}

@media (max-width: 1000px) {
  .authors-detail {
    grid-template: repeat(2, auto) / repeat(2, 1fr);
    
  }
}

@media (max-width: 550px) {
  .authors-detail {
    grid-template: repeat(4, auto) / 1fr;
    grid-gap: 1em;
  }
}

/* ----------AUTHORS END--------- */
