@import "style.css";
@import "navbar.css";
@import "read-next.css";
@import "join-us.css";
@import "footer.css";


.center-content {
  margin: 0 auto;
  width: 700px;
}

.author {
  display: flex;
  align-items: center;
  margin: 70px auto 20px auto;
}

.author-photo {
  width: 50px;
  height: 50px;
  background-image: url("images/profile/linkedin-sales-solutions-pAtA8xe_iVM-unsplash.jpg");
  background-size: cover;
  border-radius: 50%;
  margin-right: 15px;
}

.author-info h4, .author-info h6 {
  margin: 3px 0;
}

.article-detail {
  display: flex;
  align-items: center;
}

.secondary-icon {
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
}

.secondary-icon img {
  width: 30px;
}

.post-date {
  margin: 0 10px 0 auto;
}

.main-img-container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

.article-content {
  margin: 0 auto 70px auto;
}

.list-in-content {
  color: #4c4c4c;
}

.font-italic {
  font-style: italic;
}

.font-bold {
  font-weight: bold;
}

blockquote p {
  width: 600px;
}

@media (max-width: 800px) {
  .center-content {
    width: 100%;
  }

  .main-img-container {
    width: 100%;
  }
}