@import "style.css";
@import "navbar.css";
@import "author.css";
@import "read-next.css";
@import "join-us.css";
@import "footer.css";


.center-content, .author-section {
  margin: 0 auto;
  width: min(700px, 100%);
}

.author {
  display: flex;
  align-items: center;
  margin: 70px auto 20px auto;
}

.author-photo {
  width: 50px;
  height: 50px;
  background-image: url("../images/profile/linkedin-sales-solutions-pAtA8xe_iVM-unsplash.jpg");
  background-size: cover;
  border-radius: 50%;
  margin-right: 15px;
}

.article-detail {
  display: flex;
  align-items: center;
}

.secondary-icon {
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
}

.secondary-icon img {
  width: 30px;
}

.post-date {
  margin: 0 10px 0 auto;
}

.main-img-container {
  width: min(1100px, 100%);
  margin: 0 auto;
}

.article-content {
  margin: 0 auto 70px auto;
}

.list-in-content {
  color: #4c4c4c;
}

.font-italic {
  font-style: italic;
}

.font-bold {
  font-weight: bold;
}

blockquote {
  border-left: 5px solid #232536;
  padding: 15px 30px;
  margin: 20px 0;
}

blockquote p {
  width: min(600px, 100%);
  font-size: clamp(1rem, 3.5vw, 1.1rem);
}

.author-section {
  display: flex;
  align-items: flex-start;
  padding: 1.5em;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-bottom: 70px;
  transition: all .5s ease;
}

.author-section:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.author-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-right: 10px;
  height: min(100px, 100%);
}

.author-photo-bio {
  width: 75px;
  height: 75px;
  margin: 0 0 10px 0;
}

.author-bio {
  margin-top: 10px;
}


