/* -------------HERO START------------ */
.hero-section {
  width: 100%;
  height: 91vh;
  background-image: url('../images/glenn-carstens-peters-P1qyEf1g0HU-unsplash.jpg');
  background-size: cover;
  background-position: center;
  padding: 60px 50px;
  margin-bottom: 70px;
}

.hero-detail {
  width: min(700px, 80%);
  color: #fff;
  text-shadow: 0 0 2px black;
}

.hero-detail p {
  color: #fff;
}

.hero-category {
  font-size: clamp(1.12rem, 3vw, 1.37rem);
  margin-bottom: 30px;
}

.hero-author {
  font-size: 18px;
  margin: 20px 0;
}

.hero-paragraph {
  margin-bottom: 50px;
  width: min(500px, 85%);
}

@media screen and (max-width: 700px) {
  .hero-section {
    padding: 70px 30px;
  }
}

/* -------------HERO END------------ */
