/* ----------WHY START--------- */

.why-started-section {
  display: grid;
  grid-template: repeat(15, 1fr) / repeat(15, 1fr);
}

.why-img-container {
<<<<<<< HEAD
  grid-row: 1 / -1;
  grid-column: 1 / 11;
=======
  width: 70%;
  height: 600px;
>>>>>>> 6d4b861c1b892bb88a36a5ce0699ce39ef5c315f
  background-image: url("../images/matheus-ferrero-TkrRvwxjb_8-unsplash.jpg");
  background-size: cover;
  background-position: center;
  min-height: 550px;
}

.why-started-detail {
  padding: 3em;
  background: #fff;
  grid-row: 4 / -1;
  grid-column: 8 / -1;
}

.why-started-detail h2 {
  width: min(500px, 100%);
}

.why-started-detail p {
  margin-bottom: 30px;
  width: min(600px, 100%);
}


@media (max-width: 900px) {
  .why-img-container {
    grid-row: 1 / -1;
    grid-column: 1 / -1;
    height: 100%;
  }

  .why-started-detail {
    grid-row: 3 / -1;
    grid-column: 3 / -1;
  }
}